{% extends "layout_main.html.twig" %}

{% block title %}
    申請管理 - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}
    <style>
        .applications-read-student-id {
            margin-bottom: .5rem;
            font-weight: bold;
        }

        .applications-read-name {
            margin-top: .5rem;
        }

        .applications-read-name small {
          font-size: 1.25rem;
        }

        .applications-read-send-email {
            padding-left: 40px;
            padding-right: 40px;
        }

        .applications-read-roles {
            margin-bottom: 0;
        }

        .applications-read-circle-name {
            margin-top: 0;
        }

        @media screen and (max-width: 991px) {
            .applications-read-header-main {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                margin: 15px;
                padding: 15px;
            }

            .applications-read-circle-name {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .applications-read-header-main,
            .applications-read-circle-name {
                text-align: center;
            }
        }

        th,
        td,
        th a,
        td a {
            white-space: nowrap;
        }

        @media screen and (min-width: 768px) {
            .table-sticky {
                position: -webkit-sticky; /* Safari */
                position: sticky;
                left: -1px;
                background: #fff;
                box-shadow: 1px 0 0 #ddd; /* border-right が効かないので，代わりに */
            }
        }

        .table > tbody > tr > td.applications-read-answer-td {
            padding: 0;
        }

        .applications-read-answer-td__inner {
            padding: 8px;
            max-width: 30vw;
            overflow: auto;
        }

    </style>

    <h1 class="main__title">
      {% if form.custom_form is empty %}
        <a href="{{ base_url("home_staff/applications") }}">申請管理</a>
        /
        {{ form.name }}
      {% elseif form.custom_form.type is same as('circle') %}
        <a href="{{ base_url("home_staff/circles") }}">企画情報管理</a>
        /
        カスタムフォーム回答
      {% endif %}
    </h1>

    <header class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 text-center">
                    <p>
                        <i class="fa fa-pencil-square-o fa-fw fa-5x" aria-hidden="true"></i>
                    </p>
                    {% if form.custom_form is empty %}
                      <p>
                          <a href="{{ base_url("home_staff/applications/edit/#{form.id}") }}" class="btn btn-primary">
                              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                              編集
                          </a>
                      </p>
                    {% endif %}
                    <p>
                        <a href="{{ editor_url }}" class="btn btn-default">
                            <i class="fa fa-edit fa-fw" aria-hidden="true"></i>
                            エディター
                        </a>
                    </p>
                </div>
                <div class="col-md-6 applications-read-header-main">
                    <h1 class="applications-read-name">
                        {{ form.name }}
                        {% if (form.is_public == 0) %}
                            <small class="label label-danger">非公開</small>
                        {% else %}
                            <small class="label label-success">公開</small>
                        {% endif %}
                    </h1>
                    <p class="text-muted">
                        受付期間 :
                        {{ form.open_at_string }}
                        〜
                        {{ form.close_at_string }}
                    </p>
                    <p class="text-muted">
                        {% if form.custom_form is empty %}
                          申請フォームのURL :
                          <a href="{{ public_form_url }}" target="_blank" rel="noopener">
                              {{ public_form_url }}
                          </a>
                        {% endif %}
                    </p>
                    {% if form.description_html is not empty %}
                      <hr>
                      <div>
                          {{ form.description_html | raw }}
                      </div>
                    {% endif %}
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled text-muted">
                        <li>作成 : {{ form.created_at }}</li>
                        <li>変更 : {{ form.updated_at }}</li>
                    </ul>
                    {% if form.custom_form is empty %}
                      <a href="{{ base_url("home_staff/applications/preview/#{form.id}") }}"
                        class="btn btn-info btn-wide">
                          <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                          フォームをプレビュー
                      </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% if form.custom_form is empty %}
      <section class="panel panel-primary">
          <div class="panel-heading">
              <h2 class="panel-title">
                  統計情報
                  <span>
                      <a href="{{ base_url("staff/forms/#{form.id}/not_answered") }}" class="btn btn-default">
                          未提出企画を表示
                      </a>
                  </span>
              </h2>
          </div>
          <div class="table-responsive">
              <table class="table applications-read-statistics">

                  <colgroup style="width: 10%">
                  <colgroup style="width: 10%;">
                  <colgroup style="width: 80%">

                  <tr>
                      <th>回答企画</th>
                      <td class="lead text-center">
                          {{ statistics.count_circle }}
                          <small>/ {{ statistics.count_all_circles }} ({{ statistics.proportion_circle }}%)</small>
                      </td>
                      <td>
                          <div class="progress">
                              <div class="progress-bar progress-bar-success" role="progressbar"
                                  aria-valuenow="{{ statistics.count_circle }}" aria-valuemin="0"
                                  aria-valuemax="{{ statistics.count_all_circles }}"
                                  style="width: {{ statistics.proportion_circle }}%">
                              </div>
                          </div>
                      </td>
                  </tr>

                  {% if statistics.form_type == "booth" %}
                      <tr>
                          <th>回答ブース</th>
                          <td class="lead text-center">
                              {{ statistics.count_booth }}
                              <small>/ {{ statistics.count_all_booths }} ({{ statistics.proportion_booth }}%)</small>
                          </td>
                          <td>
                              <div class="progress">
                                  <div class="progress-bar progress-bar-success progress-bar-striped"
                                      role="progressbar"
                                      aria-valuenow="{{ statistics.count_booth }}" aria-valuemin="0"
                                      aria-valuemax="{{ statistics.count_all_booths }}"
                                      style="width: {{ statistics.proportion_booth }}%">
                                  </div>
                              </div>
                          </td>
                      </tr>
                  {% endif %}
              </table>
          </div>
      </section>
    {% endif %}

    <section class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">回答一覧</h2>
        </div>
        <div class="panel-body">
          {% if form.custom_form is empty %}
                <div class="pull-left">
                    <a href="{{ base_url("/staff/forms/#{form.id}/answers/create") }}" class="btn btn-primary">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                        新しい回答を作成
                    </a>
                </div>
            {% endif %}
            <div class="pull-right">
                <a href="{{ base_url("/staff/forms/#{form.id}/answers/uploads") }}" class="btn btn-primary">
                    <span class="fa fa-file-archive-o" aria-hidden="true"></span>
                    ファイルをZIP形式で出力
                    <span class="badge">BETA</span>
                </a>
                <a href="{{ base_url("home_staff/applications/read/#{form.id}/csv") }}" class="btn btn-success">
                    <span class="fa fa-file-excel-o" aria-hidden="true"></span>
                    CSV形式で出力
                </a>
                <a href="{{ base_url("home_staff/applications/read/#{form.id}/print") }}"
                   class="btn btn-default jsPrintButton">
                    <span class="fa fa-print" aria-hidden="true"></span>
                    印刷
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>操作</th>
                    <th>回答ID</th>
                    <th class="table-sticky">
                        企画
                        {% if form.type == "booth" %}
                            ・ ブース
                        {% endif %}
                    </th>
                    <th>企画団体</th>
                    <th>回答作成日時</th>
                    <th>回答更新日時</th>
                    {% for question in form.questions if question.type is not same as("heading") %}
                        <th>
                            {{ question.name }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for answer in answers %}
                    <tr>
                        <td>
                            <a href="{{ base_url("staff/forms/#{form.id}/answers/#{answer.id}/edit") }}"
                              class="btn btn-primary">
                              <span class="fa fa-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="{{ base_url("home_staff/applications_answer_read/#{answer.id}") }}"
                              class="btn btn-info">
                              <span class="fa fa-eye" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>{{ answer.id }}</td>
                        <th class="table-sticky">
                            <a href="{{ base_url("home_staff/circles/read/#{answer.circle_id}") }}">
                              <ruby>
                                {{ answer.circle.name }}
                                <rt>{{ answer.circle.name_yomi }}</rt>
                              </ruby>
                            </a>
                            (ID : {{ answer.circle.id }})
                            {% if form.type == "booth" %}
                                <br>
                                <a href="{{ base_url("home_staff/booths/read/#{answer_info.booth_id}") }}">
                                  {{ answer.booth.place_name }}
                                </a>
                            {% endif %}
                        </th>
                        <td>
                          <ruby>
                            {{ answer.circle.group_name }}
                            <rt>{{ answer.circle.group_name_yomi }}</rt>
                          </ruby>
                        </td>
                        <td>{{ answer.created_at }}</td>
                        <td>{{ answer.updated_at }}</td>
                        {% for question in form.questions if question.type is not same as("heading") %}
                            <td class="applications-read-answer-td">
                                <div class="applications-read-answer-td__inner">

                                    {% if question.type == "checkbox" or question.type == "radio" or question.type == "select" %}
                                        <ul class="list-unstyled">
                                            {% for option in question.options %}
                                                <li>
                                                <span
                                                    class="
                                                        fa fa-fw
                                                        {% if option in answer.answers[question.id] %}
                                                            fa-check-square-o
                                                            text-primary
                                                        {% else %}
                                                            fa-square-o
                                                            text-muted
                                                        {% endif %}
                                                    " aria-hidden="true"
                                                >
                                                </span>
                                                    {% if option in answer.answers[question.id] %}
                                                        <b>
                                                    {% else %}
                                                        <del class="text-muted">
                                                    {% endif %}
                                                    {{ option }}
                                                    {% if option in answer.answers[question.id] %}
                                                        </b>
                                                    {% else %}
                                                        </del>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% elseif question.type == "upload" %}
                                        {% if answer.answers[question.id] is not empty %}
                                            <a href="{{
                                                strpos(answer.answers[question.id], 'answer_details') is same as(0)
                                                      ? base_url( "staff/forms/#{form.id}/answers/#{answer.id}/uploads/#{question.id}" )
                                                      : base_url( "uploads/applications_form/#{answer.answers[question.id]}" )
                                              }}"
                                              target="_blank">{{ str_replace('answer_details/', 'answer_details__', answer.answers[question.id]) }}</a>
                                        {% else %}
                                            <span class="text-muted">(未アップロード)</span>
                                        {% endif %}
                                    {% else %}
                                        {{ answer.answers[question.id] | nl2br }}
                                    {% endif %}

                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if answers is empty %}
            <div class="well well-sm text-center lead text-muted" style="margin-bottom: 0; padding: 3rem 0;">
                まだ回答はありません
            </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ base_url("common/js/jquery.printElement.min.js") }}"></script>
<script>
  $(function() {
    "use strict";

    $(document).on("click", ".jsPrintButton", function(e){
      e.preventDefault();
      var url = $(this).attr("href");
      $.get( url, {}, function(data) {
        $("<div/>").html(data).printElement();
      });
    });

  });
</script>
{% endblock %}
