{% extends "layout_main.html.twig" %}

{% block title %}
  ユーザー情報管理 - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <style>
    .users-read-student-id {
      margin-bottom: .5rem;
      font-weight: bold;
    }

    .users-read-name {
      margin-top: .5rem;
    }

    .users-read-send-email {
      padding-left: 40px;
      padding-right: 40px;
    }

    .users-read-roles {
      margin-bottom: 0;
    }

    .users-read-circle-name {
      margin-top: 0;
    }

    @media screen and (max-width: 991px) {
      .users-read-header-main {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 15px;
        padding: 15px;
      }

      .users-read-circle-name {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .users-read-header-main,
      .users-read-circle-name {
        text-align: center;
      }
    }
  </style>

  <h1 class="main__title">
    <a href="{{ base_url("home_staff/users") }}">ユーザー情報管理</a>
    /
    個別表示
  </h1>

  <header class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 text-center">
          <p>
            <i class="fa fa-user-circle-o fa-fw fa-5x" aria-hidden="true"></i>
          </p>
          <p>
            <a href="{{ base_url("home_staff/users/edit/#{user_read.id}") }}" class="btn btn-primary">
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
              編集
            </a>
          </p>
        </div>
        <div class="col-md-6 users-read-header-main">
          {% if user_read.student_id is not empty %}
            <p class="lead users-read-student-id">{{ user_read.student_id }}</p>
          {% else %}
            <p class="lead text-muted users-read-student-id">学籍番号未入力</p>
          {% endif %}
          <h1 class="users-read-name">
            <ruby>
              {{ user_read.name_family }}
              <rt>{{ user_read.name_family_yomi }}</rt>
            </ruby>
            <ruby>
              {{ user_read.name_given }}
              <rt>{{ user_read.name_given_yomi }}</rt>
            </ruby>
          </h1>
          <p>
            <a href="mailto:{{ user_read.email }}">
              <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
              {{ user_read.email }}
            </a>
          </p>
            <p>
            <a href="tel:{{ user_read.tel }}">
              <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
              {{ user_read.tel }}
            </a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <ul class="list-unstyled text-muted">
            <li>作成 : {{ user_read.created_at }}</li>
            <li>変更 : {{ user_read.updated_at }}</li>
          </ul>
          <p>
            <a href="mailto:{{ user_read.email }}" class="btn btn-success btn-lg users-read-send-email">
              <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
              メールを送信する
            </a>
          </p>
        </div>
      </div>
    </div>
  </header>

  {% if user_read.is_staff == true %}
  <div class="panel panel-default">
    <div class="panel-body">
      <span class="label label-primary">スタッフ</span>
      このユーザーは <b>スタッフ</b> として設定されています
    </div>
  </div>
  {% endif %}

  <section class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">このユーザーが所属する企画</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        {% for circle in circles %}
          <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-2 text-center">
                    <i class="fa fa-users fa-fw fa-3x" aria-hidden="ture"></i>
                  </div>
                  <div class="col-md-10">
                    <h3 class="users-read-circle-name">{{ circle.name }}</h3>
                    <p>
                      <a href="{{ base_url("home_staff/circles/read/#{circle.id}") }}" class="btn btn-info">
                        <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                        表示
                      </a>
                      <a href="{{ base_url("home_staff/circles/edit/#{circle.id}") }}" class="btn btn-primary">
                        <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                        編集
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
