{% extends "layout_main.html.twig" %}

{% block title %}
  企画情報管理 - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <style>
    .circles-read-name {
      margin-top: 0;
    }

    .circles-read-user-name {
      margin-top: 0;
    }

    @media screen and (max-width: 991px) {
      .circles-read-header-main {
        border-top: 1px solid #ddd;
        margin: 15px;
        padding: 15px;
        padding-bottom: 0;
      }

      .circles-read-user-name {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .circles-read-header-main,
      .circles-read-user-name,
      .circles-read-user-email,
      .circles-read-user-tel {
        text-align: center;
      }
    }
  </style>

  <h1 class="main__title">
    <a href="{{ base_url("home_staff/circles") }}">企画情報管理</a>
    /
    個別表示
  </h1>

  <header class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 text-center">
          <p>
            <i class="fa fa-users fa-fw fa-5x" aria-hidden="true"></i>
          </p>
          <p>
            <a href="{{ base_url("home_staff/circles/edit/#{circle_info.id}") }}" class="btn btn-primary">
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
              編集
            </a>
          </p>
        </div>
        <div class="col-md-10 circles-read-header-main">
          <h1 class="circles-read-name">
            <ruby>
              {{ circle_info.name }}
              <rt>
                {{ circle_info.name_yomi }}
              </rt>
            </ruby>
          </h1>
          <p>
            <ruby>
              {{ circle_info.group_name }}
              <rt>
                {{ circle_info.group_name_yomi }}
              </rt>
            </ruby>
          </p>
          <p>
            {% for tag in tags %}
              <span class="label label-primary">{{ tag.name }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </header>

  <section class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">この企画に所属するユーザー</h2>
    </div>
    <div class="panel-body">
      {% if users is empty %}
        この企画には誰も所属していません
      {% endif %}
      <div class="row">
        {% set mailto_string = "" %}
        {% for user in users %}
          {% set mailto_string = mailto_string ~ user.email ~ "," %}
          <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-2 text-center">
                    <i class="fa fa-user-circle-o fa-fw fa-3x" aria-hidden="ture"></i>
                    {% if user.is_leader == 1 %}
                      <span class="label label-danger">責任者</span>
                    {% else %}
                      <span class="label label-default">学園祭係</span>
                    {% endif %}
                  </div>
                  <div class="col-md-10">
                    <h3 class="circles-read-user-name">
                      {{ user.name_family }}
                      {{ user.name_given }}
                    </h3>
                    <p class="circles-read-user-email">
                      <a href="mailto:{{ user.email }}">
                        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                        {{ user.email }}
                      </a>
                    </p>
                      <p class="circles-read-user-tel">
                      <a href="tel:{{ user.tel }}">
                        <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                        {{ user.tel }}
                      </a>
                    </p>
                    <p>
                      <a href="{{ base_url("home_staff/users/read/#{user.id}") }}" class="btn btn-info">
                        <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                        表示
                      </a>
                      <a href="{{ base_url("home_staff/users/edit/#{user.id}") }}" class="btn btn-primary">
                        <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                        編集
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if users is not empty %}
      <div class="panel-footer">
        <a href="{{ base_url("staff/circles/#{circle_info.id}/email") }}" class="btn btn-success">
          <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
          この企画にメールを送信
        </a>
      </div>
    {% endif %}
  </section>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">この企画の回答済み申請</h2>
    </div>
    <div class="panel-body">
      <ul>
        {% for answer in answers %}
          <li><a href="{{ base_url("home_staff/applications_answer_read/#{answer.id}") }}">{{ answer.name }} (回答ID: {{ answer.id }})</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>

{% endblock %}
