{% extends "layout_main.html.twig" %}

{% block title %}
  {{ page_title }} - {{ constant("APP_NAME") }}
{% endblock %}

{% block css %}
  {{ parent() }}
  {% for file in css_files %}
    <link type="text/css" rel="stylesheet" href="{{ file }}">
  {% endfor %}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">{{ page_title }}</h1>

  {% if main_page_type == 'pages' and _crud_state == 'list' %}
    <p class="js-v2-alert-small" style="display: none">
      <a href="{{ base_url('/staff/pages') }}" class="js-v2-alert-show">新しい「お知らせ管理」を体験してみませんか？</a>
    </p>
    <div class="alert alert-info alert-dismissible js-v2-alert" style="display: none">
      <button type="button" class="close js-v2-alert-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><strong>新しい「お知らせ管理」を体験してみませんか？</strong></p>
      <p>デザインが一新され、より見やすく。高度な絞り込み機能で、目的のデータを素早く探索。</p>
      <p>
        <a href="{{ base_url('/staff/pages') }}" class="btn btn-primary">
          新しい「お知らせ管理」を使ってみる
        </a>
      </p>
      <p class="text-muted">
        <small>『新しい「お知らせ管理」を使ってみる』をクリックした後も、現行バージョンの「お知らせ管理」は引き続き利用できます。</small>
      </p>
    </div>
    <p>
      <a href="{{ base_url('/staff/send_emails') }}" class="btn btn-primary">
        お知らせをメールで一斉送信
      </a>
    </p>
  {% elseif main_page_type == 'applications' and _crud_state == 'add' %}
    <div class="alert alert-info">
      <p><strong>企画参加登録フォームを作成しようとしていますか？</strong></p>
      <p>ここでは企画参加登録フォームの作成はできません。ここで作成するフォームは、企画参加登録が完了し、登録受理状況が「受理」となっている企画しか回答できません。</p>
      <p>企画参加登録フォームの作成は「企画参加登録の設定」から行ってください。</p>
      <p>
        <a href="{{ base_url('/staff/circles/custom_form') }}" class="btn btn-primary">
          企画参加登録の設定
        </a>
      </p>
    </div>
  {% elseif main_page_type == 'users' and _crud_state == 'list' %}
    <p class="js-v2-alert-small" style="display: none">
      <a href="{{ base_url('/staff/users') }}" class="js-v2-alert-show">新しい「ユーザー情報管理」を体験してみませんか？</a>
    </p>
    <div class="alert alert-info alert-dismissible js-v2-alert" style="display: none">
      <button type="button" class="close js-v2-alert-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><strong>新しい「ユーザー情報管理」を体験してみませんか？</strong></p>
      <p>デザインが一新され、より見やすく。高度な絞り込み機能で、目的のデータを素早く探索。</p>
      <p>
        <a href="{{ base_url('/staff/users') }}" class="btn btn-primary">
          新しい「ユーザー情報管理」を使ってみる
        </a>
      </p>
      <p class="text-muted">
        <small>『新しい「ユーザー情報管理」を使ってみる』をクリックした後も、現行バージョンの「ユーザー情報管理」は引き続き利用できます。</small>
      </p>
    </div>
  {% elseif main_page_type == 'documents' and _crud_state == 'list' %}
    <p class="js-v2-alert-small" style="display: none">
      <a href="{{ base_url('/staff/documents') }}" class="js-v2-alert-show">新しい「配布資料管理」を体験してみませんか？</a>
    </p>
    <div class="alert alert-info alert-dismissible js-v2-alert" style="display: none">
      <button type="button" class="close js-v2-alert-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><strong>新しい「配布資料管理」を体験してみませんか？</strong></p>
      <p>デザインが一新され、より見やすく。高度な絞り込み機能で、目的のデータを素早く探索。</p>
      <p>
        <a href="{{ base_url('/staff/documents') }}" class="btn btn-primary">
          新しい「配布資料管理」を使ってみる
        </a>
      </p>
      <p class="text-muted">
        <small>『新しい「配布資料管理」を使ってみる』をクリックした後も、現行バージョンの「配布資料管理」は引き続き利用できます。</small>
      </p>
    </div>
  {% elseif main_page_type == 'circles' and _crud_state == 'list' %}
    <p>参加登録の提出が完了している企画のみ表示されます</p>
    <p class="js-v2-alert-small" style="display: none">
      <a href="{{ base_url('/staff/circles') }}" class="js-v2-alert-show">タグや参加登録受理状況で絞り込みができる新しい「企画情報管理」を体験してみませんか？</a>
    </p>
    <div class="alert alert-info alert-dismissible js-v2-alert" style="display: none">
      <button type="button" class="close js-v2-alert-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><strong>タグや参加登録受理状況で絞り込みができる新しい「企画情報管理」を体験してみませんか？</strong></p>
      <p>デザインが一新され、より見やすく。高度な絞り込み機能で、目的のデータを素早く探索。</p>
      <p>
        <a href="{{ base_url('/staff/circles') }}" class="btn btn-primary">
          新しい「企画情報管理」を使ってみる
        </a>
      </p>
      <p class="text-muted">
        <small>『新しい「企画情報管理」を使ってみる』をクリックした後も、現行バージョンの「企画情報管理」は引き続き利用できます。</small>
      </p>
    </div>
    {% if custom_form is empty %}
      <div class="alert alert-info">
        <p><strong>企画参加登録をウェブ化して時短しませんか？</strong></p>
        <p>企画参加登録を「{{ constant("APP_NAME") }}」上で受け付けることで、参加登録にかかる事務作業を時短することができます。</p>
        <p>
          <a href="{{ base_url('/staff/circles/custom_form') }}" class="btn btn-primary">
            企画参加登録機能を有効にする
          </a>
        </p>
      </div>
    {% else %}
      <p>
        <a href="{{ base_url('/staff/circles/custom_form') }}" class="btn btn-primary">
          企画参加登録機能の設定
        </a>
        <a href="{{ base_url("/home_staff/applications/read/#{custom_form.form_id}") }}" class="btn btn-primary">
          カスタムフォームへの回答一覧
        </a>
      </p>
    {% endif %}
  {% endif %}

  {{ output | raw }}

{% endblock %}

{% block javascript %}
  {{ parent() }}
  {% for file in js_files %}
    <script src="{{ file }}"></script>
  {% endfor %}
  <script>
    $('#crudFilterTableName').attr( 'value', '{{ main_page_type }}' );
  </script>
{% endblock %}
