{% extends "layout_entrance_nosub.html.twig" %}

{% block title %}スタッフ認証 - {{ constant("APP_NAME") }}{% endblock %}

{% block maincontent %}

<section class="entrance__mainpanel">

  {{ form_open()|raw }}

    <p class="text-center">
      <i class="fa fa-lock fa-4x text-muted" aria-hidden="true"></i>
    </p>

    <h1>スタッフ認証</h1>

    {% if failed_email == true %}
      <div class="alert alert-danger">
        <p><b>確認メールの送信に失敗しました。</b>もう一度同じ操作を行なってください。</p>
        <p>もし、何度もこのエラーが表示される場合、システムに障害が発生している可能性がありますので、{{ constant("APP_NAME") }} の管理者にお問い合わせ下さい。</p>
      </div>
    {% endif %}

    {% if not empty(error) %}
      <div class="alert alert-danger">
        <p>{{ error }}</p>
      </div>
    {% endif %}

    <p>あなたの<b>連絡先メールアドレス</b>宛に認証メールが送信されました。認証メールに記載されている<strong>確認コード</strong>を入力してください。</p>
    <div class="form-group{% if not empty( error ) %} has-error{% endif %}">
      <label class="control-label" for="input_verify_code">確認コード</label>
      {{ form_error("verify_code", '<p class="text-danger">', '</p>') | raw }}
      {{ form_input({name:'verify_code', class:'form-control', id:'input_verify_code', required: 'required', inputmode: 'numeric', pattern: '[0-9]*', autocomplete: 'one-time-code'}) | raw }}
    </div>

    <p class="text-center">
      {{ form_submit({ value: 'ログイン', class: 'btn btn-primary' }) | raw }}
    </p>

  {{ form_close()|raw }}
</section>

{% endblock %}
