{% extends "layout_main.html.twig" %}

{% block title %}
  申請管理 - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title hidden-print">
    <a href="{{ base_url("home_staff/applications") }}">申請管理</a>
    /
    <a href="{{ base_url("home_staff/applications/read/#{form.id}") }}">{{ form.name }}</a>
    /
    回答
  </h1>

  <p class="visible-print-block main__title">
    {{ form.name }}
  </p>

  <div class="row">
    <div class="col-md-9 col-md-push-3">

      <nav class="hidden-print">
        <ul class="pager">
          <li class="previous {% if not prev_answer %}disabled{% endif %}">
            {% if prev_answer %}<a href="{{ base_url("home_staff/applications_answer_read/#{prev_answer.id}") }}">{% else %}<span>{% endif %}
              前の回答
            {% if prev_answer %}</a>{% else %}</span>{% endif %}
          </li>
          <li class="next {% if not next_answer %}disabled{% endif %}">
            {% if next_answer %}<a href="{{ base_url("home_staff/applications_answer_read/#{next_answer.id}") }}">{% else %}<span>{% endif %}
              次の回答
            {% if next_answer %}</a>{% else %}</span>{% endif %}
          </li>
        </ul>
      </nav>

      <section class="panel">
        <div class="panel-heading sr-only">
          <h2 class="panel-title">申請対象</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            企画の名前 :
            <b>{{ answer_info.circle.name }}</b>
          </li>
          {% if booth %}
            <li class="list-group-item">
              ブース :
              <b>
                {% if answer_info.booth.name is empty %}
                  {{ answer_info.booth.place_name }}
                {% else %}
                  {{ answer_info.booth.name }}
                  ({{ answer_info.booth.place_name }})
                {% endif %}
              </b>
            </li>
          {% endif %}
        </ul>
      </section>

      {% import "macro_applications_form.html.twig" as form_macros %}
      {{ form_macros.applications_form( form, "update", answers, {}, true, null, answer_info ) }}

      <nav class="hidden-print">
        <ul class="pager">
          <li class="previous {% if not prev_answer %}disabled{% endif %}">
            {% if prev_answer %}<a href="{{ base_url("home_staff/applications_answer_read/#{prev_answer.id}") }}">{% else %}<span>{% endif %}
              前の回答
            {% if prev_answer %}</a>{% else %}</span>{% endif %}
          </li>
          <li class="next {% if not next_answer %}disabled{% endif %}">
            {% if next_answer %}<a href="{{ base_url("home_staff/applications_answer_read/#{next_answer.id}") }}">{% else %}<span>{% endif %}
              次の回答
            {% if next_answer %}</a>{% else %}</span>{% endif %}
          </li>
        </ul>
      </nav>

    </div>
    <div class="col-md-3 col-md-pull-9 hidden-print">

      <h2 class="sr-only">コマンド</h2>

      <section class="panel panel-default">
        <div class="sr-only panel-heading">
          <h3 class="panel-title">アクション</h3>
        </div>
        <div class="list-group">
          {% if prev_answer %}
            <a class="list-group-item" href="{{ base_url("home_staff/applications_answer_read/#{prev_answer.id}") }}">
          {% else %}
            <span class="list-group-item disabled">
          {% endif %}
            前の回答
          {% if prev_answer %}</a>{% else %}</span>{% endif %}

          {% if next_answer %}
            <a class="list-group-item" href="{{ base_url("home_staff/applications_answer_read/#{next_answer.id}") }}">
          {% else %}
            <span class="list-group-item disabled">
          {% endif %}
            次の回答
          {% if next_answer %}</a>{% else %}</span>{% endif %}

          <a class="list-group-item" href="javascript:window.print();">回答を印刷</a>

          <a class="list-group-item" href="{{ base_url("home_staff/circles/read/#{answer_info.circle_id}") }}">企画情報</a>

          {% if form.type == "booth" %}
            <a class="list-group-item" href="{{ base_url("home_staff/booths/read/#{answer_info.booth_id}") }}">ブース情報</a>
          {% endif %}
        </div>
      </section>

    </div>
  </div>

{% endblock %}
