{% extends "layout_main.html.twig" %}

{% block title %}
  認可設定(Admin) - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">
    <a href="{{ base_url("home_staff/auth_config") }}">認可設定(Admin)</a>
    /
    設定を追加
  </h1>

  {% if validation_errors() is not empty %}
  <div class="alert alert-danger">
    {{ validation_errors() | raw }}
  </div>
  {% endif %}

  {% if post_result is same as(true) %}
  <div class="alert alert-success">
    追加しました。
  </div>
  {% elseif post_result is same as(false) %}
  <div class="alert alert-danger">
    追加に失敗しました。
  </div>
  {% endif %}

  {{ form_open()|raw }}
    <div class="form-group">
      <label for="input_main_page_type" class="control-label"><code>main_page_type</code></label>
      {{ form_input({ name: 'main_page_type', id: 'input_main_page_type', class: 'form-control', required: "required", autofocus: "autofocus" }) | raw }}
      <span class="help-block">URLの<code>home_staff/</code>以降の文字列。例えば<code>circles</code>など。存在しない<code>main_page_type</code>を入力してもエラーにはなりません。また、管理者のみがアクセスできる<code>main_page_type</code>を入力しても、効力はありません。</span>
    </div>

    <div class="form-group">
      <span class="control-label"><b>モード</b></span>
      <div class="radio">
        <label class="text-primary d-block">
          {{ form_radio({ name: 'is_authorized', value: 1, required: "required" }) | raw }}
          原則認可(ブラックリスト方式)
          <span class="help-block">ブラックリストに登録されている権限をもつユーザーによるアクセスを拒否します。なお、ホワイトリストは使用されません。</span>
        </label>
      </div>
      <div class="radio">
        <label class="text-danger d-block">
          {{ form_radio({ name: 'is_authorized', value: 0, required: "required", checked: "checked" }) | raw }}
          原則不認可(ホワイトリスト方式)
          <span class="help-block">ホワイトリストに登録されている権限をもつユーザーによるアクセスのみを許可します。なお、ブラックリストは使用されません。</span>
        </label>
      </div>
    </div>

    {{ form_submit({ value: '追加', class: 'btn btn-primary' }) | raw }}
    <a href="{{ base_url("home_staff/auth_config") }}" class="btn btn-default">キャンセル</a>

  {{ form_close()|raw }}


{% endblock %}
