<!--
**
** {{ constant('APP_NAME') }}
**
-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ base_url('css/fontawesome.v4.css') }}">
    <link rel="stylesheet" href="{{ base_url('common/css/bootstrap.min.css?v=2') }}">
    <link rel="stylesheet" href="{{ base_url('common/css/global.css?v=5') }}">
    {% endblock %}
  </head>
  <body ontouchstart="">

    <nav class="navbar navbar-fixed-top global__navbar hidden-print navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
          {% if xs_navbar_toggle is same as(true) %}
            <button type="button" class="navbar-toggle sidebar-toggle">
              <span class="sr-only">ナビ</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          {% endif %}
          {% if xs_navbar_back is same as(true) %}
            <button type="button" class="navbar-toggle sidebar-toggle" style="position:relative;" onclick="history.back()">
              <span class="fa fa-chevron-left text-muted" aria-hidden="true" style="position:absolute;transform:scale(1.5);left:30px"></span>
              <span class="sr-only">戻る</span>
              <span style="visibility:hidden">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </span>
            </button>
          {% endif %}
          <span class="navbar-brand navbar-brand-static">
            {% if xs_navbar_title %}
              {{ xs_navbar_title }}
            {% elseif page_title %}
              {{ page_title }}
            {% else %}
              {{ constant("APP_NAME") }}
            {% endif %}
          </span>
        </div>

        <div class="collapse navbar-collapse" id="global_navbar_collapse">
          <ul class="nav navbar-nav">
            {% block navbar_nav %}{% endblock %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="ss__wrapper">
      <main id="main">
        <div class="ss__overlay sidebar-toggle"></div>
        {% block main %}{% endblock %}
      </main>
    </div>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ base_url('common/js/bootstrap.min.js') }}"></script>
    {% endblock %}

  </body>
</html>
