{# メイン画面 #}

{% extends "layout_global.html.twig" %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ base_url('common/css/github-markdown.css?v=2') }}">
  <link rel="stylesheet" href="{{ base_url('common/css/main.css?v=4') }}">
  <link rel="stylesheet" href="{{ base_url('common/css/simple-sidebar.css?v=2') }}">
  <style>
    .global__navbar .navbar-collapse {
      display: none;
    }
  </style>
{% endblock %}

{% block main %}
<div class="container-fluid">
  <nav class="main__sidebar sidebar-wrapper hidden-print">
    <div class="sidebar-content">
      <div class="main__sidebar__info">
        <p>
          <i class="fa fa-user" aria-hidden="true"></i>
          {{ user.name_family }}
          {{ user.name_given }}
          {% if user.is_staff == 1 %}<span class="label label-primary">スタッフ</span>{% endif %}
          {% if user.is_admin == 1 %}<span class="label label-danger">管理者</span>{% endif %}
        </p>
        {% if user.is_staff == 1 %}
        <p>
          {% if _home_type == "staff" %}<a href="{{ base_url('home') }}" class="btn btn-default btn-block">一般モードへ</a>{% endif %}
          {% if _home_type == "default" %}<a href="{{ base_url('home_staff') }}" class="btn btn-default btn-block">スタッフモードへ</a>{% endif %}
        </p>
        {% endif %}
        <p>
          <a href="{{ base_url('change_password') }}" class="btn btn-default btn-block">パスワードの変更</a>
        </p>
        <p>
          <a href="{{ base_url('logout') }}" class="btn btn-primary btn-block">ログアウト</a>
        </p>
      </div>
      <ul class="sidebar-nav">
        {% for page_type, item in _sidebar_menu %}
        <li{% if main_page_type == page_type %} class="active"{% endif %}>
          <a href="{{ base_url(item.url) }}">
            <i class="fa fa-{{ item.icon }} fa-fw" aria-hidden="true"></i>
            {{ item.name }}
          </a>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="page-content-wrapper">
    {% block maincontent %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ base_url('common/js/main.js?v=1') }}"></script>
{% endblock %}
