{% extends "layout_main.html.twig" %}

{% block title %}
  スケジュール - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">
    {% if schedules_mode == "day" %}<a href="{{ base_url("home/schedules/#{year}/#{month}") }}">{% endif %}
    スケジュール
    {% if schedules_mode == "day" %}</a>{% endif %}
  </h1>

  {% if schedules_mode == "day" %}
  <p>
    <a href="{{ base_url("home/schedules/#{year}/#{month}") }}" class="btn btn-primary">
      カレンダーに戻る
    </a>
  </p>
  <h2 class="text-center well well-lg">{{ year }}年{{ month }}月{{ day }}日</h2>
  {% endif %}

  {% if schedules_mode == "month" %}
    <p>予定は変更される場合があります。</p>
    <h2 class="text-center well well-lg">{{ year }}年{{ month }}月</h2>
    <nav class="hidden-print">
      <ul class="pager">
        <li>
          <a href="{{ base_url("home/schedules/#{prev_month_array.year}/#{prev_month_array.month}") }}">
            <span aria-hidden="true">&larr;</span>
            先月
          </a>
        </li>
        <li>
          <a href="{{ base_url("home/schedules") }}">
            今月
          </a>
        </li>
        <li>
          <a href="{{ base_url("home/schedules/#{next_month_array.year}/#{next_month_array.month}") }}">
            来月
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
    {{ calender_html | raw }}
  {% endif %}

  {% for schedule in schedules %}
    <section class="panel main-section__schedule panel-default" id="schedule-{{ schedule.id }}">
      <div class="panel-heading">
        <h2 class="panel-title main-section__schedule__heading">
          {{ schedule.start_at_string }}
        </h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-8">
            <h3 class="main-section__schedule__title">{{ schedule.name }}</h3>
            <p class="main-section__schedule__place">{{ schedule.place }}</p>
            <div class="markdown-body">{{ schedule.description_html | raw }}</div>
          </div>
          <div class="col-lg-4">
            {% if schedule.documents is not empty %}
              <section class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    配布資料
                  </h3>
                </div>
                <div class="list-group text-muted">
                  {% for document in schedule.documents %}
                    <a href="{{ base_url("uploads/documents/#{document.id}") }}" class="list-group-item" target="_blank">
                      <h3 class="list-group-item-heading h5">
                        <b{% if document.is_important == 1 %} class="text-danger"{% endif %}>
                          {% if document.is_important == 1 %}
                            <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
                          {% else %}
                            <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                          {% endif %}
                          {{ document.name }}
                          <small>
                            <date>{{ document.modified_at_string }}</date>
                            {% if document.is_new == true %}
                              <span class="label label-danger">NEW</span>
                            {% endif %}
                          </small>
                        </b>
                      </h3>
                      <p class="list-group-item-text">{{ document.description }}</p>
                    </a>
                  {% endfor %}
                </div>
              </section>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class="panel main-section__schedule panel-default">
      <div class="panel-body text-center">
        <h3 class="main-section__schedule__title">予定はありません。</h3>
      </div>
    </section>
  {% endfor %}

{% endblock %}
