{#
  必要な変数について
   - title: ページタイトル
   - table_name: テーブル名
   - table: テーブル内容
   - sql: 実行されたSQL文
#}

{% extends "layout_main.html.twig" %}

{% block title %}
  {{ title }} - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">{{ title }}</h1>
  <p class="text-muted">
    <em>表示テーブル名 : {{ table_name }}</em>
  </p>

  {% if memo is defined %}
    <section class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">メモ</h2>
      </div>
      <div class="panel-body">
        {{ memo | nl2br }}
      </div>
    </section>
  {% endif %}

  <section class="panel panel-default main-section__database">
    <div class="panel-heading">
      <h2 class="panel-title">テーブルビュー</h2>
    </div>
    <div class="panel-body">

      <p>
        <a href="#" class="btn btn-primary">
          <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
          データを追加
        </a>
        <a href="#" class="btn btn-default">
          <i class="fa fa-fw fa-download" aria-hidden="true"></i>
          CSVにエクスポート
        </a>
        <a href="#" class="btn btn-default">
          <i class="fa fa-fw fa-upload" aria-hidden="true"></i>
          CSVからインポート
        </a>
      </p>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <td>操作</td>
              {% for key,value in table[0]|cast_to_array %}
              <th>{{ key }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for record in table %}
              <tr>
                <td>
                  <a href="#{{ record.id }}" class="btn btn-default">
                    <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">編集</span>
                  </a>
                  <a href="#{{ record.id }}" class="btn btn-default">
                    <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                    <span class="sr-only">表示</span>
                  </a>
                </td>
                {% for key,value in record|cast_to_array %}
                <td><pre>{{ value }}</pre></td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </section>

  <section class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a class="d-block" role="button" data-toggle="collapse" href="#technical-info">
          技術情報
        </a>
      </h2>
    </div>
    <div id="technical-info" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>実行されたSQL</h3>
        <pre><code>{{ sql }}</code></pre>
        <h3><code>var_dump()</code></h3>
        <pre><code>{{ var_dump(table) }}</code></pre>
      </div>
    </div>
  </section>

{% endblock %}
