{% extends "layout_main.html.twig" %}

{% block title %}
  申請 - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">
    {% if circle_info|length > 1 %}<a href="{{ base_url("home/applications") }}">{% endif %}
    申請
    {% if circle_info|length > 1 %}</a>{% endif %}
    /
    {{ circle.name }}
  </h1>

  {% if circle_info|length > 1 %}
  <p>
    <a href="{{ base_url("home/applications") }}" class="btn btn-primary">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      申請する団体を変更
    </a>
  </p>
  {% endif %}

  <ul class="nav nav-tabs" style="margin-bottom:1rem">
    <li role="presentation" {% if type == "open" %}class="active"{% endif %}>
      <a href="{{ base_url("home/applications/circles/#{circle.id}") }}">受付期間中</a>
    </li>
    <li role="presentation" {% if type == "closed" %}class="active"{% endif %}>
      <a href="{{ base_url("home/applications/circles/#{circle.id}/closed") }}">受付終了</a>
    </li>
    <li role="presentation" {% if type == "all" %}class="active"{% endif %}>
      <a href="{{ base_url("home/applications/circles/#{circle.id}/all") }}">全て</a>
    </li>
  </ul>

  {% if is_search == true %}
  <p>
    <a href="{{ base_url("home/documents") }}" class="btn btn-primary">絞り込みを解除</a>
  </p>
  {% endif %}

  {#
    <form class="main__search-form">
      <label for="input_applications_search" class="sr-only">申請を検索</label>
      <input type="search" class="form-control input-lg" name="q" id="input_applications_search" placeholder="申請を検索..." value="{{ q }}">
    </form>
  #}

  <div class="w-max-md">
    <ul class="main-list list-unstyled">
      {% for form in forms if form.type == "circle" %}
        {# TODO: ブース申請未実装につき，リスト上は非表示(システム上は，ブース申請機能は存在するが) #}
        <li class="main-list__item">
          <div class="main-list__inner {% if form.now_period == "not_started" %}main-list__inner--greyout{% endif %}">
            <h2 class="main-list__title">
              {# TODO: 複数件申請には未対応( 現状：常に create へリンクする．max_answers == 1 の場合 create から変更ページへリダイレクト ) #}
              <a href="{{ base_url("forms/#{form.id}/answers/create?circle_id=#{circle.id}") }}" class="lead">
                {% if form.now_period == "not_started" %}
                  <span class="badge">
                    受付開始前
                  </span>
                {% endif %}
                {% if answers[form.id] %}
                  {# 回答済みの場合，チェックマークを表示 #}
                  <span class="fa fa-check fa-fw text-success" title="回答済み" data-toggle="tooltip" data-placement="top"></span>
                {% endif %}
                {{ form.name }}
              </a>
            </h2>
            <p class="text-muted">
              {% if form.now_period == "not_started" %}
                {{ form.open_at_string }}
                から受付開始
              {% else %}
                {{ form.close_at_string }}
                まで
              {% endif %}
            </p>
          </div>
        </li>
      {% else %}
        <li class="main-list__item">
          <div class="main-list__inner main-list__inner--greyout text-center">
            <p>
              このリストは空です
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}
