{% extends "layout_main.html.twig" %}

{% block title %}
  配布資料 - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">配布資料</h1>

  {% if is_search == true %}
  <p>
    <a href="{{ base_url("home/documents") }}" class="btn btn-primary">絞り込みを解除</a>
  </p>
  {% endif %}

  <form class="main__search-form">
    <label for="input_docs_search" class="sr-only">配布資料を検索</label>
    <input type="search" class="form-control input-lg" name="q" id="input_docs_search" placeholder="配布資料を検索..." value="{{ q }}">
  </form>

  <div class="row row-flex">

    {% for document in documents %}
    <div class="col-lg-4">
      <section class="panel
        {% if document.is_important == 1 %}
        panel-danger
        {% else %}
        panel-default
        {% endif %}
      ">
        <div class="panel-heading">
          <h2 class="panel-title">
            {% if document.is_important == 1 %}
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            {% endif %}
            <a href="{{ base_url("uploads/documents/#{document.id}") }}" target="_blank">
              {{ document.name }}
              {% if document.is_new == true %}
                <span class="label label-danger">NEW</span>
              {% endif %}
            </a>
          </h2>
        </div>
        {% if not empty( document.description ) %}
        <div class="panel-body">
          <p>{{ document.description }}</p>
        </div>
        {% endif %}
        <ul class="list-group text-muted">
          {% if document.schedule_info is not empty %}
          <li class="list-group-item"><a href="{{ base_url("home/schedules/") }}{{ document.schedule_info.start_at | date("Y/m/d") }}#schedule-{{ document.schedule_info.id }}"><strong>{{ document.schedule_info.name }}</strong></a> で配布</li>
          {% endif %}
          <li class="list-group-item">公開 : <span class="pull-right">{{ document.created_at_string }}</span></li>
          <li class="list-group-item">変更 : <span class="pull-right">{{ document.updated_at_string }}</span></li>
        </ul>
        <div class="panel-footer">
          <a href="{{ base_url("uploads/documents/#{document.id}") }}" class="btn btn-primary" target="_blank">
            <i class="fa fa-download fa-fw"></i>
            ダウンロード
          </a>
        </div>
      </section>
    </div>
    {% else %}
      <div class="col-xs-12">
        <section class="panel panel-default">
          <div class="panel-body">
            <h2 class="text-muted text-center">該当なし</h2>
          </div>
        </section>
      </div>
    {% endfor %}

  </div>

{% endblock %}
