{% extends "layout_main.html.twig" %}

{% block title %}
  お知らせ - {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="main__title">
    お知らせ
  </h1>

  <div class="w-max-md">
    <ul class="main-list list-unstyled">
      {% for page in pages %}
        <li class="main-list__item">
          <div class="main-list__inner">
            <h2 class="main-list__title">
              <a href="{{ base_url("home/pages/detail/#{page.id}") }}" class="lead">
                {{ page.title }}
              </a>
            </h2>
            <p class="text-muted">
              {{ page.created_at_string }}
              {% if page.is_new == true %}
                <span class="label label-danger">NEW</span>
              {% endif %}
            </p>
            <p>
              {{ page.body_trimmed }}
              <a href="{{ base_url("home/pages/detail/#{page.id}") }}">
                [もっと読む]
              </a>
            </p>
          </div>
        </li>
      {% else %}
        <li class="main-list__item">
          <div class="main-list__inner main-list__inner--greyout text-center">
            <p>
              お知らせはありません
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
