{% extends "layout_main.html.twig" %}

{% block title %}
  {{ constant("APP_NAME") }}
{% endblock %}

{% block maincontent %}

  <h1 class="sr-only main__title">ダッシュボード</h1>

  {% if flashdata_success is not empty %}
    <div class="alert alert-success">
      {{ flashdata_success }}
    </div>
  {% endif %}

  {% if flashdata_danger is not empty %}
    <div class="alert alert-danger">
      {{ flashdata_danger }}
    </div>
  {% endif %}

  {% if circle_info is empty %}
    <div class="alert alert-info">
      <p>
        <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
        <strong>団体参加登録が未完了</strong>
      </p>
      <p>団体参加登録がお済みでない場合、申請機能など、{{ constant("APP_NAME") }} の一部機能がご利用になれません</p>
      <p><small>(参加登録を行ってからこの表示が消えるのに時間がかかることがあります)</small></p>
    </div>
  {% endif %}

  {% if next_event.name is not empty %}
  <section class="panel panel-primary main-section__next-event">
    <div class="panel-heading">
      <h2 class="panel-title">次の予定</h2>
    </div>
    <div class="panel-body">
      <h3 class="main-section__next-event__title">
        <date>{{ next_event.start_at_string }}</date>
      </h3>
      <p class="lead main-section__next-event__place">{{ next_event.name }} ・ {{ next_event.place }}</p>
      <div class="markdown-body">{{ next_event.description_html | raw }}</div>
    </div>
    <div class="panel-footer">
      <a href="{{ base_url('home/schedules') }}" class="btn btn-primary">他の予定をみる</a>
    </div>
  </section>
  {% endif %}

  <div class="row">
    <div class="col-lg-4">
      <section class="panel panel-info main-section__applications">
        <div class="panel-heading">
          <h2 class="panel-title">お知らせ</h2>
        </div>
        <div class="list-group">
          {% for page in pages %}
            <a href="{{ base_url("home/pages/detail/#{page.id}") }}" class="list-group-item">
              <h3 class="list-group-item-heading h5">
                <b>{{ page.title }}</b>
                <small>
                  <date>{{ page.created_at_string }}</date>
                  {% if page.is_new == true %}
                    <span class="label label-danger">NEW</span>
                  {% endif %}
                </small>
              </h3>
              <p class="list-group-item-text">{{ page.body_trimmed }}</p>
            </a>
          {% endfor %}
        </div>
        <div class="panel-footer">
          <a href="{{ base_url('home/pages') }}" class="btn btn-primary">全てのお知らせをみる</a>
          <span class="text-muted" style="margin-left:1rem">全 <b>{{ pages_count }}</b> 件</span>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel panel-info main-section__applications">
        <div class="panel-heading">
          <h2 class="panel-title">配布資料</h2>
        </div>
        <div class="list-group">

          {% for document in documents %}
          <a href="{{ base_url("documents/#{document.id}") }}" class="list-group-item" target="_blank">
            <h3 class="list-group-item-heading h5">
              <b{% if document.is_important == 1 %} class="text-danger"{% endif %}>
                {% if document.is_important == 1 %}
                  <i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                {% endif %}
                {{ document.name }}
                <small>
                  <date>{{ document.modified_at_string }}</date>
                  {% if document.is_new == true %}
                    <span class="label label-danger">NEW</span>
                  {% endif %}
                </small>
              </b>
            </h3>
            <p class="list-group-item-text">
              {{ document.description }}
            </p>
            {% if document.schedule_info.name is not empty %}
              <p class="list-group-item-text text-muted">
                <small>
                  <b>{{ document.schedule_info.name }}</b>
                  で配布
                </small>
              </p>
            {% endif %}
          </a>
          {% endfor %}

        </div>
        <div class="panel-footer">
          <a href="{{ base_url('home/documents') }}" class="btn btn-primary">全ての配布資料をみる</a>
          <span class="text-muted" style="margin-left:1rem">全 <b>{{ documents_count }}</b> 件</span>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel panel-info main-section__applications">
        <div class="panel-heading">
          <h2 class="panel-title">申請</h2>
        </div>
        {% if circle_info is not empty %}
          <div class="list-group">

            {% for form in forms %}
            <a href="{{ base_url("forms/#{form.id}/answers/create") }}" class="list-group-item">
              <h3 class="list-group-item-heading h5">
                <b>
                  {{ form.name }}
                </b>
              </h3>
              <p class="list-group-item-text">
                {{ form.close_at_string }} まで受付
              </p>
            </a>
            {% endfor %}

          </div>
          <div class="panel-footer">
            <a href="{{ base_url('home/applications') }}" class="btn btn-primary">全ての申請をみる</a>
          </div>
        {% else %}
          <div class="panel-body text-center muted">
            <h3>団体参加登録が未完了</h3>
            <p>申請機能は、団体参加登録をされた方のみご利用になれます。</p>
          </div>
        {% endif %}
      </section>

      <div class="alert alert-info text-center">
        <p>
          お問い合わせページは移動しました。
        </p>
        <p>
          <a href="{{ base_url('contacts') }}" class="btn btn-primary">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            お問い合わせ
          </a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
