{% extends "layout_global.html.twig" %}

{% block title %}ユーザー登録 - {{ constant("APP_NAME") }}{% endblock %}

{% block main %}

<div class="container">
  <h1 class="text-center">
    {% if page_type == "verify_success" %}
      メール認証完了
    {% elseif page_type == "verify_status" %}
      メール認証状況
    {% endif %}
  </h1>

  {% if page_type == "verify_success" %}
    {% if user_checked.verifycode_univemail is not null or user_checked.verifycode_email is not null %}
      <div class="alert alert-danger">
        <p class="text-center">
          <strong>登録を完了させるには、もう１つの確認メールに記載されているURLにアクセスする必要があります。</strong>
        </p>
      </div>
    {% else %}
      <div class="alert alert-success text-center">
        <i class="fa fa-smile-o fa-4x" aria-hidden="true"></i>
        <p>
          <strong>全てのメールアドレスの認証が完了しました。ご登録ありがとうございました。</strong>
        </p>
        <p class="text-center">
          <a href="{{ base_url() }}" class="btn btn-primary">ログイン</a>
        </p>
      </div>
    {% endif %}
  {% else %}
    <div class="alert alert-danger">
      <p class="text-center">
        <strong>ログインするには、「認証未完了」となっている項目を完了させてください。</strong>
      </p>
    </div>
  {% endif %}

  <div class="row">
    {# 大学提供のメールアドレス #}
    {% if user_checked.student_id is not empty %}
      <div class="col-md-6">
        <div class="well well-sm text-center">

          {% if user_checked.verifycode_univemail is null %}
            <div class="alert alert-success">
              <p class="h1 text-success" style="margin:0">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </p>
              <p class="text-success">認証完了</p>
            </div>
          {% else %}
            <div class="alert alert-danger">
              <p class="h1 text-danger" style="margin:0">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </p>
              <p class="text-danger">認証未完了</p>
            </div>
          {% endif %}

          <p><b>本人確認</b>のため</p>
          <p class="lead">
            {{ user_checked.student_id }}@{{ constant("PORTAL_UNIVEMAIL_DOMAIN") }}
          </p>
          <p>に確認メールを送信しました。送信から<b>24時間以内</b>に、確認メールに書かれているURLにアクセスしてください。</p>
          <p>
            <a href="https://outlook.office.com/owa/" class="btn btn-primary" target="_blank">
              メールを確認する
            </a>
          </p>
        </div>
      </div>
    {% endif %}

    {# 連絡先メールアドレス #}
    {% if user_checked.email != "#{user_checked.student_id}@#{constant('PORTAL_UNIVEMAIL_DOMAIN')}" %}
      <div class="col-md-6">
        <div class="well well-sm text-center">

          {% if user_checked.verifycode_email is null %}
            <div class="alert alert-success">
              <p class="h1 text-success" style="margin:0">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </p>
              <p class="text-success">認証完了</p>
            </div>
          {% else %}
            <div class="alert alert-danger">
              <p class="h1 text-danger" style="margin:0">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </p>
              <p class="text-danger">認証未完了</p>
            </div>
          {% endif %}

          <p><b>メールアドレスの存在チェック</b>のため</p>
          <p class="lead">
            {{ user_checked.email }}
          </p>
          <p>に確認メールを送信しました。送信から<b>24時間以内</b>に、確認メールに書かれているURLにアクセスしてください。</p>
          <p>
            <span class="btn btn-primary disabled">
              メールを確認する
            </span>
          </p>
        </div>
      </div>
    {% endif %}

  </div>

</div>

{% endblock %}
