{% extends "layout_entrance_nosub.html.twig" %}

{% block title %}パスワードリセット - {{ constant("APP_NAME") }}{% endblock %}

{% block maincontent %}

<section class="entrance__mainpanel" id="js_signup__mainpanel">

  {{ form_open( null, { id: 'js_signup__form' } )|raw }}

    <h1>パスワードリセット</h1>

    {% if failed_email == true %}
      <div class="alert alert-danger">
        <p><b>確認メールの送信に失敗しました。</b>もう一度同じ操作を行なってください。</p>
        <p>もし、何度もこのエラーが表示される場合、手動でパスワードリセットを行わさせていただきますので、恐れ入りますが、<a href="mailto:{{ constant('PORTAL_CONTACT_EMAIL') }}">{{ constant('PORTAL_CONTACT_EMAIL') }}</a> に、このエラーが何度も表示される旨とともに、学籍番号を記入してメールで送信してください。</p>
        <p>お急ぎでなければ、後日、パスワードリセットをやり直していただくことをお勧めします。</p>
      </div>
    {% endif %}
    {% if not success_msg is same as(null) %}
      <div class="alert alert-success">
        {{ success_msg }}
      </div>
    {% endif %}

    {% if success_msg is same as(null) %}
      <p>学籍番号、または、「{{ constant("APP_NAME") }}」に登録されている連絡先メールアドレスを入力してください。</p>
      <div class="form-group{% if not empty(form_error('login_id')) %} has-error{% endif %}">
        <label class="control-label" for="input_login_id">学籍番号・連絡先メールアドレス</label>
        {{ form_error("login_id", '<p class="text-danger">', '</p>') | raw }}
        {{ form_input({name:'login_id', value: login_id, class:'form-control', id:'input_login_id', required: 'required'}) | raw }}
      </div>

      <p>
        <a href="{{ base_url() }}" class="btn btn-default">キャンセル</a>
        {{ form_submit({ value: '次へ', class: 'btn btn-primary pull-right', id: 'button_submit' }) | raw }}
      </p>
    {% endif %}

  {{ form_close()|raw }}
</section>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ base_url('common/js/signup.js') }}"></script>
{% endblock %}
