{% extends "layout_entrance_nosub.html.twig" %}

{% block title %}パスワード変更 - {{ constant("APP_NAME") }}{% endblock %}

{% block maincontent %}

<section class="entrance__mainpanel" id="js_signup__mainpanel">

  {{ form_open( 'users/change_password', { id: 'js_signup__form' } )|raw }}

    <h1>パスワード変更</h1>

    {{ form_hidden('login_id', login_id ) | raw }}

    <div class="form-group{% if not empty(form_error('login_id')) or not empty(form_error('new_password')) or not empty(form_error('new_password_confirm')) or not empty(validation_errors())  %} has-error{% endif %}">
      <label class="control-label" for="input_password">現在のパスワード</label>
      {{ form_error("login_id", '<p class="text-danger">', '</p>') | raw }}
      {{ form_password({name:'password', class:'form-control', id:'input_password', required: 'required'}) | raw }}
    </div>

  <div class="form-group{% if not empty(form_error('login_id')) or not empty(form_error('new_password')) or not empty(form_error('new_password_confirm')) or not empty(validation_errors())  %} has-error{% endif %}">
      <label class="control-label" for="input_new_password">新パスワード</label>
      {{ form_error("new_password", '<p class="text-danger">', '</p>') | raw }}
      {{ form_password({name:'new_password', class:'form-control', id:'input_new_password', required: 'required'}) | raw }}
      <span class="text-muted display-block">パスワードは、10文字以上、かつ数字・英字・記号をそれぞれ最低1文字含む必要があります。<b>CLASSのパスワードではありません。</b></span>
    </div>

  <div class="form-group{% if not empty(form_error('login_id')) or not empty(form_error('new_password')) or not empty(form_error('new_password_confirm')) or not empty(validation_errors()) %} has-error{% endif %}">
      <label class="control-label" for="input_new_password_confirm">新パスワード(確認)</label>
      {{ form_error("new_password_confirm", '<p class="text-danger">', '</p>') | raw }}
      {{ form_password({name:'new_password_confirm', class:'form-control', id:'input_new_password_confirm', required: 'required'}) | raw }}
    </div>

    <p>
      {{ form_submit({ value: '完了', class: 'btn btn-primary', id: 'button_submit' }) | raw }}
    </p>

  {{ form_close()|raw }}
</section>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ base_url('common/js/signup.js') }}"></script>
{% endblock %}
