{% extends "layout_entrance_nosub.html.twig" %}

{% block title %}ログイン - {{ constant("APP_NAME") }}{% endblock %}

{% block maincontent %}

<section class="entrance__mainpanel">
  <h1>ログイン</h1>

  {{ form_open()|raw }}

    {% if login_return_uri != '' %}
      <p class="text-danger text-center">
        <strong>ログインしてください</strong>
      </p>
    {% endif %}

    {% if validation_errors() != '' %}
      <div class="alert alert-danger">
        {{ validation_errors() | raw }}
      </div>
    {% endif %}

    <div class="form-group">
      <label class="sr-only" for="input_login_id">学籍番号・連絡先メールアドレス</label>
      {{ form_input({name:'login_id', value: login_id, class:'form-control', id:'input_login_id', required: 'required', placeholder: '学籍番号・連絡先メールアドレス'}) | raw }}
    </div>

    <div class="form-group">
      <label class="sr-only" for="input_password">パスワード</label>
      {{ form_password({name:'password', class:'form-control', id:'input_password', required: 'required', placeholder: 'パスワード'}) | raw }}
    </div>

    <p class="text-right">
      <span class="pull-left">
        <a href="{{ base_url('users/reset_password') }}">
          <i class="fa fa-fw fa-angle-right" aria-hidden="true"></i>パスワードを忘れた場合
        </a>
      </span>
      {{ form_submit({ value: 'ログイン', class: 'btn btn-primary' }) | raw }}
    </p>

  {{ form_close()|raw }}
</section>

<section class="entrance__mainpanel">
  <h1>初めての方へ</h1>
  <p>「<strong>{{ constant("APP_NAME") }}</strong>」に登録されていない方は、まず、こちらから登録を行ってください。</p>
  <p class="text-right">
    <a href="{{ base_url('users/signup') }}" class="btn btn-primary">ユーザー登録</a>
  </p>
</section>

{% endblock %}
