{% extends "layout_entrance_nosub.html.twig" %}

{% block title %}パスワードリセット - {{ constant("APP_NAME") }}{% endblock %}

{% block maincontent %}

<section class="entrance__mainpanel" id="js_signup__mainpanel">

  <h1>パスワードリセット</h1>

  {% if success == true %}
    <div class="alert alert-success">
      パスワードリセットが完了しました。
    </div>
    <p>
      <a href="{{ base_url('users/login') }}" class="btn btn-primary">ログイン画面に戻る</a>
    </p>
  {% else %}
    <div class="alert alert-danger">
      パスワードリセットに失敗しました。恐れ入りますが、再度パスワードリセットを行なってください。
    </div>
    <p>
      <a href="{{ base_url('users/reset_password') }}" class="btn btn-primary">パスワードリセット</a>
    </p>
  {% endif %}

</section>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ base_url('common/js/signup.js') }}"></script>
{% endblock %}
