{% extends "layout_entrance_nosub.html.twig" %}

{% block title %}ユーザー登録 - {{ constant("APP_NAME") }}{% endblock %}

{% block maincontent %}

<section class="entrance__mainpanel" id="js_signup__mainpanel">

  {{ form_open( null, { id: 'js_signup__form' } )|raw }}

    <h1>ユーザー登録</h1>
    <p>「<strong>{{ constant("APP_NAME") }}</strong>」にユーザー登録します。</p>
    <p>全て<span class="label label-danger">必須</span>項目です。</p>

    {% if validation_errors() != '' %}
      <div class="alert alert-danger">
        エラーが発生しました。以下をご確認ください。
      </div>
    {% endif %}

    {% if failed_email == true %}
      <div class="alert alert-danger">
        <p><b>確認メールの送信に失敗しました。</b>パスワードを入力し直した上で、もう一度[確認メールを送信]してみてください。</p>
        <p>もし、何度もこのエラーが表示される場合、手動で登録作業を行わさせていただきますので、恐れ入りますが、<a href="mailto:{{ constant('PORTAL_CONTACT_EMAIL') }}">{{ constant('PORTAL_CONTACT_EMAIL') }}</a> に、このエラーが何度も表示される旨とともに、以下の入力欄の内容を全て記入してメールで送信してください。</p>
        <p>お急ぎでなければ、後日、登録をやり直していただくことをお勧めします。</p>
      </div>
    {% endif %}

    <div class="form-group{% if not empty(form_error('student_id')) %} has-error{% endif %}">
      <label class="control-label" for="input_student_id">東京理科大学学籍番号</label>
      {{ form_error("student_id", '<p class="text-danger">', '</p>') | raw }}
      {{ form_input({name:'student_id', value: student_id, class:'form-control input-lg', id:'input_student_id', maxlength: 7}) | raw }}
      <span class="display-block">学籍番号をお持ちでない方は、入力不要です。</span>
    </div>

    <div class="form-group{% if not empty(form_error('email')) %} has-error{% endif %}">
      <label class="control-label" for="input_email">連絡先メールアドレス</label>
      {{ form_error("email", '<p class="text-danger">', '</p>') | raw }}
      {{ form_input({name:'email', type:'email', value: email, class:'form-control input-lg', id:'input_email', required: 'required'}) | raw }}
    </div>

    <div class="form-group{% if not empty(form_error('name_family')) or not empty(form_error('name_given')) %} has-error{% endif %}">
      <label style="display:block">氏名</label>
      {{ form_error("name_family", '<p class="text-danger">', '</p>') | raw }}
      {{ form_error("neme_given", '<p class="text-danger">', '</p>') | raw }}
      <label class="sr-only" for="input_name_family">氏名(姓)</label>
      {{ form_input({name:'name_family', value: name_family, class:'form-control', id:'input_name_family', required: 'required', placeholder: '野田', style: 'display: inline-block; width: 49%'}) | raw }}
      <label class="sr-only" for="input_name_given">氏名(名)</label>
      {{ form_input({name:'name_given', value: name_given, class:'form-control', id:'input_name_given', required: 'required', placeholder: '太郎', style: 'display: inline-block; width: 49%'}) | raw }}
    </div>

    <div class="form-group{% if not empty(form_error('name_family_yomi')) or not empty(form_error('name_given_yomi')) %} has-error{% endif %}">
      <label style="display:block">氏名(よみ)</label>
      {{ form_error("name_family_yomi", '<p class="text-danger">', '</p>') | raw }}
      {{ form_error("neme_given_yomi", '<p class="text-danger">', '</p>') | raw }}
      <label class="sr-only" for="input_name_family_yomi">氏名(姓・よみ)</label>
      {{ form_input({name:'name_family_yomi', value: name_family_yomi, class:'form-control', id:'input_name_family_yomi', required: 'required', placeholder: 'のだ', style: 'display: inline-block; width: 49%', pattern: "[\\u3041-\\u3096\\u30A1-\\u30F6ー]*"}) | raw }}
      <label class="sr-only" for="input_name_given_yomi">氏名(名・よみ)</label>
      {{ form_input({name:'name_given_yomi', value: name_given_yomi, class:'form-control', id:'input_name_given_yomi', required: 'required', placeholder: 'たろう', style: 'display: inline-block; width: 49%', pattern: "[\\u3041-\\u3096\\u30A1-\\u30F6ー]*"}) | raw }}
    </div>

    <div class="form-group{% if not empty(form_error('password')) or not empty(form_error('password_confirm')) or not empty(validation_errors()) or failed_email == true %} has-error{% endif %}">
      <label class="control-label" for="input_password">パスワード</label>
      {{ form_error("password", '<p class="text-danger">', '</p>') | raw }}
      {{ form_password({name:'password', class:'form-control', id:'input_password', required: 'required'}) | raw }}
      <span class="display-block">パスワードは、10文字以上、かつ数字・英字・記号をそれぞれ最低1文字含む必要があります。<b>CLASSのパスワードではありません。</b></span>
    </div>

    <div class="form-group{% if not empty(form_error('password')) or not empty(form_error('password_confirm')) or not empty(validation_errors()) or failed_email == true %} has-error{% endif %}">
      <label class="control-label" for="input_password_confirm">パスワード(確認)</label>
      {{ form_error("password_confirm", '<p class="text-danger">', '</p>') | raw }}
      {{ form_password({name:'password_confirm', class:'form-control', id:'input_password_confirm', required: 'required'}) | raw }}
    </div>

    <div class="checkbox{% if not empty(form_error('password_confirm')) %} has-error{% endif %}">
      {{ form_error("agree", '<p class="text-danger">', '</p>') | raw }}
      <label>
        {{ form_checkbox({ name: 'agree', id: 'checkbox_agree', value: 1, required: 'required' }) | raw }}
        以上に入力された情報が再度正しいかをご確認ください。問題がなければ、チェックボックスにチェックを入れてください。
      </label>
    </div>

    <p class="text-right">{{ form_submit({ value: '確認メールを送信', class: 'btn btn-primary', disabled: 'disabled', id: 'button_submit' }) | raw }}</p>

  {{ form_close()|raw }}
</section>

<section class="entrance__mainpanel">
  <h1 class="sr-only">ログイン</h1>
  <p>すでに「<strong>{{ constant("APP_NAME") }}</strong>」のアカウントをお持ちの方はこちら。</p>
  <p class="text-right"><a href="{{ base_url("users/login") }}" class="btn btn-primary">ログイン</a></p>
</section>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ base_url('common/js/signup.js') }}"></script>
{% endblock %}
